body {
	background: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif; font-size: 12pt;
}
.chooseMkts {
	display: none;
}
.ancContent {
	display: none;
}
.articleContentMedia {
	display: none;
}
.articlesTools {
	display: none;
}
.likeThis {
	display: none;
}
.relatedArticle {
	display: none;
}
.promoCarousel {
	display: none;
}
.adblade {
	display: none;
}
.bannerAd {
	display: none;
}
.accordBox {
	display: none;
}
.emailArticle {
	display: none;
}
.foot {
	display: none;
}
.userNav {
	display: none;
}
#mainHead .logo {
	display: none;
}
#mainHeadSub {
	display: none;
}
#mainFoot {
	display: none;
}
#jobSearch {
	display: none;
}
.persistentFooter {
	display: none;
}
.islandAd {
	display: none;
}
#mainBody p.right {
	display: none;
}
.contactButton {
	display: none;
}
.mediaImage {
	display: none;
}
#ZFDebug_debug {
	display: none;
}
#mainHead {
	background: none;
}
.mainContent {
	background: none; margin: 0px 7%; padding: 0px; border: 0px currentColor; border-image: none; color: rgb(0, 0, 0); float: none !important;
}
.printHeader {
	background: rgb(247, 247, 247); margin: 10px 0px 15px; padding: 10px 0px;
}
.printHeader p {
	margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-weight: bold;
}
.ie6 #mainBody {
	width: 610px;
}
.ie7 #mainBody {
	width: 650px;
}
.ie8 #mainBody {
	width: 640px;
}
.ie6 .printHeader p {
	font-family: arial, helvetica, sans-serif; font-size: 10pt;
}
.ie7 .printHeader p {
	font-family: arial, helvetica, sans-serif; font-size: 10pt;
}
.ie8 .printHeader p {
	font-family: arial, helvetica, sans-serif; font-size: 10pt;
}
