.jetpack_widget_social_icons ul {
	list-style: none;
}
.jetpack_widget_social_icons li {
	list-style: none;
}
.jetpack_widget_social_icons ul {
	margin: 0px 0px 1.5em; padding: 0px; display: block;
}
.jetpack_widget_social_icons ul li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: 1; display: inline-block;
}
.jetpack_widget_social_icons ul li::before {
	display: none;
}
.jetpack_widget_social_icons ul li::after {
	display: none;
}
.jetpack_widget_social_icons a {
	border: 0px currentColor; border-image: none; width: 24px; height: 24px; text-decoration: none; display: block; box-shadow: none;
}
.jetpack_widget_social_icons svg {
	width: inherit; height: inherit; color: inherit; vertical-align: middle; fill: currentColor;
}
.jetpack_widget_social_icons ul.size-small a {
	width: 24px; height: 24px;
}
.jetpack_widget_social_icons ul.size-medium a {
	width: 32px; height: 32px;
}
.jetpack_widget_social_icons ul.size-large a {
	width: 48px; height: 48px;
}
.screen-reader-text {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute !important; clip: rect(1px, 1px, 1px, 1px); -ms-word-wrap: normal !important;
}
