#top_bar_expanded .boxwidget ul li h5 a span.siteinfochild1 {
	width: 123px;
}
#top_bar_expanded .boxwidget ul li h5 a span.siteinfochild2 {
	width: 173px;
}
ul.ulzone li span.active {
	color: rgb(255, 255, 255); font-family: Arial,Helvetica,sans-serif; background-color: rgb(19, 47, 190);
}
div.contentWidget ul.bullet_orange li ul li a {
	color: rgb(19, 47, 190);
}
.w_SN1 h3.orange_bullet {
	text-transform: none; background-color: rgb(100, 120, 223);
}
.w_SN2 h3.orange_bullet {
	text-transform: none; background-color: rgb(100, 120, 223);
}
.w_SN3 h3.orange_bullet {
	text-transform: none; background-color: rgb(100, 120, 223);
}
.w_SN1 h3.orange_bullet a {
	color: rgb(255, 255, 255);
}
.w_SN2 h3.orange_bullet a {
	color: rgb(255, 255, 255);
}
.w_SN3 h3.orange_bullet a {
	color: rgb(255, 255, 255);
}
.w_SN1 .splitnewscontainer_active h3.orange_bullet {
	color: rgb(255, 255, 255); background-color: rgb(19, 47, 190);
}
.w_SN2 .splitnewscontainer_active h3.orange_bullet {
	color: rgb(255, 255, 255); background-color: rgb(19, 47, 190);
}
.w_SN3 .splitnewscontainer_active h3.orange_bullet {
	color: rgb(255, 255, 255); background-color: rgb(19, 47, 190);
}
.w_SN1 .splitnewscontainer_active h3.orange_bullet a {
	color: rgb(255, 255, 255);
}
.w_SN2 .splitnewscontainer_active h3.orange_bullet a {
	color: rgb(255, 255, 255);
}
.w_SN3 .splitnewscontainer_active h3.orange_bullet a {
	color: rgb(255, 255, 255);
}
.w_TagHeadline2c h4.orange {
	color: rgb(19, 47, 190);
}
.w_TagHeadline2c h4.orange a {
	color: rgb(19, 47, 190);
}
.w_TagHeadline2c h4.orange a:hover {
	color: rgb(19, 47, 190);
}
.boxwidget_part ul li h4.orange a {
	color: rgb(19, 47, 190);
}
.boxwidget_part ul li h4.orange a:hover {
	color: rgb(19, 47, 190);
}
.w_TagHeadline1c ul li .content_column_tagheadline a.linksmall {
	color: rgb(19, 47, 190);
}
.w_TagHeadline2c ul li .content_column_tagheadline a.linksmall {
	color: rgb(19, 47, 190);
}
.w_TagHeadline3c ul li .content_column_tagheadline a.linksmall {
	color: rgb(19, 47, 190);
}
.w_MediaWidget div.footerlinks a {
	color: rgb(19, 47, 190);
}
.boxwidget div.black.news_textcolumn a:hover {
	color: rgb(19, 47, 190);
}
.boxwidget div.black.news_textcolumn a:focus {
	color: rgb(19, 47, 190);
}
.boxwidget_part ul li a:hover {
	color: rgb(19, 47, 190);
}
.boxwidget_part ul li a:focus {
	color: rgb(19, 47, 190);
}
.share_more a:hover {
	color: rgb(19, 47, 190);
}
.share_more a:focus {
	color: rgb(19, 47, 190);
}
div.boxwidget div.content_column_feature h5 a {
	color: rgb(203, 19, 26); font-family: Georgia,"Times New Roman",Times,serif; font-style: italic;
}
div.boxwidget div.content_column_feature h5 a:hover {
	color: rgb(203, 19, 26); font-family: Georgia,"Times New Roman",Times,serif; font-style: italic;
}
div.boxwidget div.content_column_feature h5 a:focus {
	color: rgb(203, 19, 26); font-family: Georgia,"Times New Roman",Times,serif; font-style: italic;
}
h5.orange {
	color: rgb(203, 19, 26); font-family: Georgia,"Times New Roman",Times,serif; font-style: italic;
}
h5.orange a {
	color: rgb(203, 19, 26); font-family: Georgia,"Times New Roman",Times,serif; font-style: italic;
}
h5.orange a:hover {
	color: rgb(203, 19, 26); font-family: Georgia,"Times New Roman",Times,serif; font-style: italic;
}
h5.orange a:focus {
	color: rgb(203, 19, 26); font-family: Georgia,"Times New Roman",Times,serif; font-style: italic;
}
.slider-code .paging ul.pager li a.active {
	background-position: 6px -8995px;
}
div.w_Split_TopNewsSideHeadline-ArticleWidget_SectionA2c_Split ul.pager li a.active {
	background-image: url("/img/VOA/bg-carousel-pager-active.png?v=__7.5.0.0.9");
}
.body_media .slider-columns3 .buttons {
	height: 212px;
}
div.w_Features3c div.boxwidgetInner .slider-columns3 .buttons {
	height: 212px;
}
div.mostpopular_heading {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
div.mostpopular_heading a {
	color: rgb(255, 255, 255); background-color: rgb(100, 120, 223);
}
div.mostpopular_heading a.opened {
	color: rgb(255, 255, 255); background-color: rgb(19, 47, 190);
}
div.mostpopular_inner ol.box_mostpopular li {
	color: rgb(19, 47, 190);
}
div.mostpopular_inner ol.box_mostpopular li a {
	color: rgb(0, 0, 0);
}
div.mostpopular_inner ol.box_mostpopular li a:hover {
	color: rgb(19, 47, 190);
}
div.mostpopular_inner ol.box_mostpopular li a:focus {
	color: rgb(19, 47, 190);
}
div.content_column4 div.content_column3 .topstory_text a.linksmall {
	background-color: transparent;
}
div.content_column4 div.content_column3 .topstory_text_top a.linksmall {
	background-color: transparent;
}
.w_AudioList .wheader .links {
	background-color: rgb(235, 235, 235);
}
.w3C .wheader .links {
	background-color: rgb(198, 217, 229);
}
div.schedule_services h3 {
	font-family: Arial,Helvetica,sans-serif; font-size: 17px; margin-bottom: 12px; background-repeat: no-repeat;
}
.share_more a:hover {
	text-decoration: underline;
}
.share_more a:focus {
	text-decoration: underline;
}
.ticker-title {
	color: rgb(203, 19, 26);
}
.form_panel {
	background-color: rgb(226, 226, 226);
}
.forumMessageBox {
	border-color: rgb(186, 188, 191); background-color: rgb(251, 251, 251);
}
.forumMessageBox table {
	background-color: rgb(251, 251, 251);
}
.forumMessageBox table td {
	background-color: rgb(251, 251, 251);
}
input.virtualKeyboard {
	background-image: url("/img/VOA/icon_keyboard_button.gif?v=__7.5.0.0.9");
}
.forum_comment_nested .moderatorUser {
	background-image: url("/img/VOA/multimedia_comment_border_o.gif?v=__7.5.0.0.9");
}
.moderatorUser .forum_comment_header .forum_comment_author strong {
	color: rgb(19, 47, 190);
}
table.currencies td {
	background-color: rgb(226, 226, 226);
}
.poll_answer .yesscale {
	background-color: rgb(203, 19, 26);
}
.p_3c .slider-code .viewport {
	
}
div.boxwidget div.content_column_feature {
	
}
.contentBreakerControl button {
	color: rgb(19, 47, 190);
}
.pangea_social_icons .shwico_pangea_rss {
	background-position: 0px -629px;
}
.pangea_social_icons .shwico_pangea_podcast {
	background-position: 0px -664px;
}
.pangea_social_icons .shwico_pangea_mobile {
	background-position: 0px -699px;
}
.pangea_social_icons .shwico_pangea_subscribe {
	background-position: 0px -734px;
}
.photo_likebuttons li a.shareico:hover {
	background-color: rgb(19, 47, 190);
}
#liveblogInvolved .button {
	background-color: rgb(19, 47, 190);
}
#photoblog .photo_likebuttons li a.shareico {
	background-position: 6px -6095px; background-color: rgb(51, 51, 51);
}
#photoblog .photo_likebuttons li a.shareico:hover {
	background-color: rgb(19, 47, 190);
}
#photoblog .photo_container {
	color: rgb(221, 216, 216); background-color: rgb(66, 66, 66);
}
#photoblog .photo_container .image_info {
	color: rgb(221, 216, 216); background-color: rgb(66, 66, 66);
}
#photoblog .photo_container p.photo_description {
	color: rgb(221, 216, 216);
}
#photoblog .photo_container strong.number {
	color: rgb(221, 216, 216);
}
.liveblogitemWidget .liveblogtext a:hover {
	color: rgb(19, 47, 190);
}
.htmlPhg .htmlPhgHeader {
	background-color: rgb(55, 78, 197);
}
.w_FeatureAudio .upcomming table td.duration {
	color: rgb(112, 136, 238);
}
.w_FeatureAudio .topStoryItems ul.pager li a.active {
	background-color: rgb(19, 47, 190);
}
.htmlPhg .htmlPhgHeader {
	background-color: rgb(19, 47, 190);
}
.htmlPhg .html5PlayerControlPanel {
	background-color: rgb(28, 28, 28);
}
.ui-autocomplete .ui-menu-item a.ui-state-focus {
	background-color: rgb(203, 19, 26);
}
.ui-autocomplete .ui-menu-item a.ui-state-active {
	background-color: rgb(203, 19, 26);
}
.html5MediaPlayerVideo .html5PlayerLogo {
	background-image: url("/img/VOA/html5PlayerLogo_VOA.gif?v=__7.5.0.0.9");
}
.w_SN1 h3.orange_bullet a {
	background-position: right -493px;
}
.w_SN2 h3.orange_bullet a {
	background-position: right -493px;
}
.w_SN3 h3.orange_bullet a {
	background-position: right -493px;
}
.pages .next a {
	background-position: right -9047px;
}
.paging .next a {
	background-position: right -9047px;
}
.paging_simple .next a {
	background-position: right -9047px;
}
.w_TagHeadline1c ul li .content_column_tagheadline a.linksmall {
	background-position: right -9047px;
}
.w_TagHeadline2c ul li .content_column_tagheadline a.linksmall {
	background-position: right -9047px;
}
.w_TagHeadline3c ul li .content_column_tagheadline a.linksmall {
	background-position: right -9047px;
}
.topstory_text a.linksmall {
	background-position: right -9047px;
}
.topstory_text_top a.linksmall {
	background-position: right -9047px;
}
.pages .prev a {
	background-position: left -9097px;
}
.paging .prev a {
	background-position: left -9097px;
}
.paging_simple .prev a {
	background-position: left -9097px;
}
.slider-code .paging a.prev {
	background-position: left -8246px;
}
.slider-code .paging a.disableslider.prev {
	background-position: left -1846px;
}
.slider-code .paging a.next {
	background-position: 0% -8046px;
}
.slider-code .paging a.disableslider.next {
	background-position: 0% -1646px;
}
.body_media .slider-columns3 .prev {
	left: 6px;
}
div.w_Features3c div.boxwidgetInner .slider-columns3 .prev {
	left: 6px;
}
.body_media .slider-columns3 .next {
	right: 0px;
}
div.w_Features3c div.boxwidgetInner .slider-columns3 .next {
	right: 0px;
}
div.mostpopular_heading a {
	background-position: 97% -493px;
}
div.mostpopular_heading a.opened {
	background-position: 97% -391px;
}
div.multimedia_widget .mmw_filmstrip .mmw_scroll_back {
	background-position: left -8620px; background-image: url("/img/sprites/icons_ARROWS_ltr.png?v=__7.5.0.0.9");
}
div.multimedia_widget .mmw_filmstrip .mmw_scroll_back:hover {
	background-position: left -8620px; background-image: url("/img/sprites/icons_ARROWS_ltr.png?v=__7.5.0.0.9");
}
div.multimedia_widget .mmw_filmstrip .mmw_scroll_forward {
	background-position: right -8470px; background-image: url("/img/sprites/icons_ARROWS_rtl.png?v=__7.5.0.0.9");
}
div.multimedia_widget .mmw_filmstrip .mmw_scroll_forward:hover {
	background-position: right -8470px; background-image: url("/img/sprites/icons_ARROWS_rtl.png?v=__7.5.0.0.9");
}
div.schedule_services h3 {
	padding-left: 0px;
}
a.txtsizeplus:hover {
	background-position: left -10850px;
}
a.txtsizeminus:hover {
	background-position: left -10900px;
}
div a.fancybox-close {
	right: 0px; background-image: none;
}
.iframeFancybox a.fancybox-close {
	right: 0px; background-image: none;
}
.fancybox-type-iframe a.fancybox-close {
	right: 0px; background-image: none;
}
a.fancybox-close {
	right: 0px; background-image: none;
}
div.expandMediaClose {
	right: 0px; background-image: none;
}
div a.fancybox-close span.title {
	background-position: right -4045px; right: 5px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
.iframeFancybox a.fancybox-close span.title {
	background-position: right -4045px; right: 5px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
.fancybox-type-iframe a.fancybox-close span.title {
	background-position: right -4045px; right: 5px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
a.fancybox-close span.title {
	background-position: right -4045px; right: 5px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
div.expandMediaClose {
	background-position: right -4045px; right: 5px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
div a.fancybox-close:hover span.title {
	background-position: right -4045px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
.iframeFancybox a.fancybox-close:hover span.title {
	background-position: right -4045px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
.fancybox-type-iframe a.fancybox-close:hover span.title {
	background-position: right -4045px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
a.fancybox-close:hover span.title {
	background-position: right -4045px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
div.expandMediaClose:hover span.title {
	background-position: right -4045px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-repeat: no-repeat;
}
div.expandMediaClose {
	background-position: right -12150px; background-image: url("/img/sprites/icons_SMALL_rtl.png?v=__7.5.0.0.9"); background-color: transparent;
}
div.expandMediaClose:hover {
	background-position: right -12200px; background-color: transparent;
}
.fancybox-close {
	padding-left: 12px;
}
.fancybox-close span.title {
	padding-right: 17px;
}
.fancybox-type-image a.fancybox-close span.title {
	background-position: right -4045px;
}
.imageFancybox a.fancybox-close span.title {
	background-position: right -4045px;
}
.fancybox-type-image a.fancybox-close:hover span.title {
	background-position: right -4045px;
}
.imageFancybox a.fancybox-close:hover span.title {
	background-position: right -4045px;
}
.contentBreakerControl button.j_hide_show {
	background-position: right -8892px;
}
.contentBreakerControl button.j_hide_hide {
	background-position: right -8942px;
}
.w_FeatureAudio .listenLive .sectionInner h3 .talktous_icon {
	background-position: left -13645px;
}
.w_FeatureAudio .listenLive .sectionInner table .talktous_icon {
	background-position: left -13649px;
}
h1 {
	font-family: Arial,Helvetica,sans-serif;
}
h2 {
	font-family: Arial,Helvetica,sans-serif;
}
h3 {
	font-family: Arial,Helvetica,sans-serif;
}
h4 {
	font-family: Arial,Helvetica,sans-serif;
}
h5 {
	font-family: Arial,Helvetica,sans-serif;
}
h6 {
	font-family: Arial,Helvetica,sans-serif;
}
h1 a {
	font-family: Arial,Helvetica,sans-serif;
}
h2 a {
	font-family: Arial,Helvetica,sans-serif;
}
h3 a {
	font-family: Arial,Helvetica,sans-serif;
}
h4 a {
	font-family: Arial,Helvetica,sans-serif;
}
h5 a {
	font-family: Arial,Helvetica,sans-serif;
}
h6 a {
	font-family: Arial,Helvetica,sans-serif;
}
div.w_Split_TopNewsSideHeadline-ArticleWidget_SectionA2c_Split ul.bullet_orange li a {
	font-family: Arial,Helvetica,sans-serif;
}
.boxwidget .splitnews div.black.news_textcolumn a {
	font-family: Arial,Helvetica,sans-serif;
}
div.box_mostpopular_cover {
	font-family: Arial,Helvetica,sans-serif;
}
.multimedia_menu .second_column .programlist_row a {
	font-family: Arial,Helvetica,sans-serif;
}
.ulcommon li a {
	font-family: Arial,Helvetica,sans-serif;
}
.bullet_orange li a {
	font-family: Arial,Helvetica,sans-serif;
}
.bullet_orange_archive li a {
	font-family: Arial,Helvetica,sans-serif;
}
#footerLinks p.copyright span.footer-partners strong.title {
	font-family: Arial,Helvetica,sans-serif;
}
h1 {
	
}
h2 {
	
}
h2.sitetitle {
	color: rgb(203, 19, 26);
}
h2.sitetitle a {
	color: rgb(203, 19, 26);
}
h3.orange {
	color: rgb(19, 47, 190);
}
h3.orange a {
	color: rgb(19, 47, 190);
}
h3 a:hover {
	color: rgb(19, 47, 190);
}
h3 a:focus {
	color: rgb(19, 47, 190);
}
h4 a:hover {
	color: rgb(19, 47, 190);
}
h4 a:focus {
	color: rgb(19, 47, 190);
}
h4.orange {
	color: rgb(19, 47, 190);
}
h4.orange a {
	color: rgb(19, 47, 190);
}
h5 {
	color: rgb(19, 47, 190);
}
h5 a {
	color: rgb(19, 47, 190);
}
h5.section {
	color: rgb(203, 19, 26);
}
h5.section a {
	color: rgb(203, 19, 26);
}
a {
	color: rgb(19, 47, 190);
}
a.listenlink {
	color: rgb(19, 47, 190);
}
.listenlink a {
	color: rgb(19, 47, 190);
}
li.listenlink s {
	color: rgb(19, 47, 190);
}
.boxwidget div.black.news_textcolumn .listenlink a {
	color: rgb(19, 47, 190);
}
.boxwidget_part ul li.listenlink a {
	color: rgb(19, 47, 190);
}
ul li.listenlink a.listenico {
	color: rgb(19, 47, 190);
}
ul li.playlistlink a.plusico {
	color: rgb(19, 47, 190);
}
ul li.downloadlink a.roloverdownloadico {
	color: rgb(19, 47, 190);
}
ul li.downloadlink ul li a {
	color: rgb(19, 47, 190);
}
ul li.downloadvideoico ul li a {
	color: rgb(19, 47, 190);
}
.flash_audio_container #liveaudio_help a {
	color: rgb(19, 47, 190);
}
.downloadico {
	color: rgb(19, 47, 190);
}
.roloverdownloadico {
	color: rgb(19, 47, 190);
}
.downloadvideoico {
	color: rgb(19, 47, 190);
}
.playlistlink {
	color: rgb(19, 47, 190);
}
.roloverpodcastico {
	color: rgb(19, 47, 190);
}
.boxwidget div.black.news_textcolumn a.linkmore {
	color: rgb(19, 47, 190);
}
.boxwidget_part ul li a.linkmore {
	color: rgb(19, 47, 190);
}
.boxwidget div.black.news_textcolumn a.linksmall {
	color: rgb(19, 47, 190);
}
.boxwidget_part ul li a.linksmall {
	color: rgb(19, 47, 190);
}
.flash_audio_container .downloadmenu {
	color: rgb(19, 47, 190);
}
.flash_audio_container .listenmenu {
	color: rgb(19, 47, 190);
}
ul li.listenlink a.listenico {
	color: rgb(19, 47, 190);
}
ul li.playlistlink a.plusico {
	color: rgb(19, 47, 190);
}
ul li.downloadlink a.roloverdownloadico {
	color: rgb(19, 47, 190);
}
ul li.downloadlink ul li a {
	color: rgb(19, 47, 190);
}
ul li.playlistlink a.roloverlinkico {
	color: rgb(19, 47, 190);
}
.talktous_icon {
	color: rgb(19, 47, 190);
}
.ulcommon li a:hover {
	color: rgb(19, 47, 190);
}
.ulcommon li a:focus {
	color: rgb(19, 47, 190);
}
.bullet_orange li a:hover {
	color: rgb(19, 47, 190);
}
.bullet_orange li a:focus {
	color: rgb(19, 47, 190);
}
.bullet_orange_archive li a:hover {
	color: rgb(19, 47, 190);
}
.bullet_orange_archive li a:focus {
	color: rgb(19, 47, 190);
}
.mediaZoneDiv a.zoneSelected {
	color: rgb(19, 47, 190);
}
.mediaZoneDiv a:hover {
	color: rgb(19, 47, 190);
}
.articleContent .zoomMe .ulcommon li a {
	color: rgb(19, 47, 190);
}
.articleContent .zoomMe .bullet_orange li a {
	color: rgb(19, 47, 190);
}
.articleContent .zoomMe .bullet_orange_archive li a {
	color: rgb(19, 47, 190);
}
.bullet_orange li a.linksmall {
	color: rgb(19, 47, 190);
}
button {
	border: 1px solid rgb(19, 47, 190); border-image: none; background-color: rgb(19, 47, 190);
}
.input_submit {
	border: 1px solid rgb(19, 47, 190); border-image: none; background-color: rgb(19, 47, 190);
}
.round_corners_button_orange {
	border: 1px solid rgb(19, 47, 190); border-image: none; background-color: rgb(19, 47, 190);
}
.round_corners_button_gray {
	border: 1px solid rgb(19, 47, 190); border-image: none; background-color: rgb(19, 47, 190);
}
button:hover {
	border: 1px solid rgb(203, 19, 26); border-image: none; background-color: rgb(203, 19, 26);
}
.input_submit:hover {
	border: 1px solid rgb(203, 19, 26); border-image: none; background-color: rgb(203, 19, 26);
}
.round_corners_button_gray:hover {
	border: 1px solid rgb(203, 19, 26); border-image: none; background-color: rgb(203, 19, 26);
}
.round_corners_button_orange:hover {
	border: 1px solid rgb(203, 19, 26); border-image: none; background-color: rgb(203, 19, 26);
}
.articlelist li a:hover {
	color: rgb(19, 47, 190);
}
.articlelist li a:focus {
	color: rgb(19, 47, 190);
}
h2.breakingnews_top {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
h3.orange_bullet {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
h3.boxwidget_part {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
h3.titleInside {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
h3.boxwidget_title {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
div.schedule_services h3 {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.backgrounder h3.orange_bullet {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.backgrounder h3.boxwidget_part {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.backgrounder h3.titleInside {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.backgrounder h3.boxwidget_title {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.embeddedBackgrounder h3.orange_bullet {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.embeddedBackgrounder h3.boxwidget_part {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.embeddedBackgrounder h3.titleInside {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
.embeddedBackgrounder h3.boxwidget_title {
	color: rgb(19, 47, 190); text-transform: uppercase; background-image: none;
}
h2.breakingnews_top a {
	color: rgb(19, 47, 190);
}
h3.orange_bullet a {
	color: rgb(19, 47, 190);
}
h3.boxwidget_part a {
	color: rgb(19, 47, 190);
}
h3.titleInside a {
	color: rgb(19, 47, 190);
}
h3.boxwidget_title a {
	color: rgb(19, 47, 190);
}
div.schedule_services h3 a {
	color: rgb(19, 47, 190);
}
.backgrounder h3.orange_bullet a {
	color: rgb(19, 47, 190);
}
.backgrounder h3.boxwidget_part a {
	color: rgb(19, 47, 190);
}
.backgrounder h3.titleInside a {
	color: rgb(19, 47, 190);
}
.backgrounder h3.boxwidget_title a {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.orange_bullet a {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.boxwidget_part a {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.titleInside a {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.boxwidget_title a {
	color: rgb(19, 47, 190);
}
h2.breakingnews_top a:hover {
	color: rgb(19, 47, 190);
}
h3.orange_bullet a:hover {
	color: rgb(19, 47, 190);
}
h3.boxwidget_part a:hover {
	color: rgb(19, 47, 190);
}
h3.titleInside a:hover {
	color: rgb(19, 47, 190);
}
h3.boxwidget_title a:hover {
	color: rgb(19, 47, 190);
}
div.schedule_services h3 a:hover {
	color: rgb(19, 47, 190);
}
.backgrounder h3.orange_bullet a:hover {
	color: rgb(19, 47, 190);
}
.backgrounder h3.boxwidget_part a:hover {
	color: rgb(19, 47, 190);
}
.backgrounder h3.titleInside a:hover {
	color: rgb(19, 47, 190);
}
.backgrounder h3.boxwidget_title a:hover {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.orange_bullet a:hover {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.boxwidget_part a:hover {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.titleInside a:hover {
	color: rgb(19, 47, 190);
}
.embeddedBackgrounder h3.boxwidget_title a:hover {
	color: rgb(19, 47, 190);
}
div.tab_list {
	background-color: rgb(226, 226, 226);
}
div.tab_list ul li.selected a.tablink {
	color: rgb(255, 255, 255); background-color: rgb(55, 78, 197);
}
div.delimiter {
	background: url("/img/VOA/bg_line_hr.gif?v=__7.5.0.0.9") repeat-x 0px rgb(255, 255, 255); height: 28px;
}
ul.bullet_orange li {
	background-image: url("/img/VOA/blue_bullet.gif?v=__7.5.0.0.9");
}
.content #article .zoomMe ul li {
	background-image: url("/img/VOA/blue_bullet.gif?v=__7.5.0.0.9");
}
.content .section-content ul li {
	background-image: url("/img/VOA/blue_bullet.gif?v=__7.5.0.0.9");
}
span.firstLetter {
	font-family: Arial,Helvetica,sans-serif;
}
.form_item span.notice {
	color: rgb(203, 19, 26);
}
div#divTechnicalRequirements .boxwidgetInner div.padding span.label {
	color: rgb(203, 19, 26);
}
div#divTechnicalRequirements .boxwidgetInner div.padding span b {
	color: rgb(203, 19, 26);
}
#archive ul.bullet_orange li.archive_listrow_date {
	color: rgb(203, 19, 26);
}
#top_bar ul li {
	background: url("/img/VOA/top_bar_separator.gif?v=__7.5.0.0.9") no-repeat right; padding-top: 0px; padding-right: 8px; padding-bottom: 0px; margin-top: 3px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
#top_bar .sites_by_language a {
	background-position: right -8890px;
}
#top_bar .sites_by_language a.opened {
	background-position: right -8940px;
}
#top_bar ul.header_multisiteControl li {
	margin-right: 0px; margin-left: 6px;
}
#top_bar_expanded .boxwidget ul li {
	float: left;
}
#top_bar_expanded .boxwidget ul li h5 a {
	float: left;
}
#top_bar_expanded .boxwidget ul li h5 a span {
	margin: 0px 12px 0px 0px;
}
#top_bar_expanded .boxwidget ul li h5 a span.siteinfochild1 {
	float: left;
}
#top_bar_expanded .boxwidget ul li h5 a span.siteinfochild2 {
	margin-right: 0px; float: left;
}
ul.header_navigation {
	left: 0px;
}
.header_navigation li ul.nav_start1 {
	left: -1px;
}
.header_navigation li ul.nav_start2 {
	left: 321px;
}
.header_navigation li ul.nav_start3 {
	left: 643px;
}
.mm_control_audio.multimedia_control span {
	background-position: left -11243px;
}
.mm_control_itv.multimedia_control span {
	background-position: left -11295px;
}
.multimedia_menu .talktous_cover {
	padding-left: 0px;
}
h2.breakingnews_top {
	padding-left: 20px;
}
h3.orange_bullet {
	padding-left: 20px;
}
h3.boxwidget_part {
	padding-left: 20px;
}
h3.titleInside {
	padding-left: 20px;
}
h3.boxwidget_title {
	padding-left: 20px;
}
ul.header_navigation li a.nav_link span.selected_arrow {
	background-position: right -498px;
}
ul.header_navigation li a.nav_link:hover span.selected_arrow {
	background-position: right -8798px;
}
ul.header_navigation li:hover a.nav_link span.selected_arrow {
	background-position: right -8798px;
}
ul.header_navigation li.sfHover a.nav_link span.selected_arrow {
	background-position: right -8798px;
}
.top_story_photo div.topstory_arrow1 {
	background-image: url("/img/VOA/img-tsc-arrow.gif?v=__7.5.0.0.9");
}
.top_story_photo div.topstory_arrow2 {
	background-image: url("/img/VOA/img-tsc-arrow.gif?v=__7.5.0.0.9");
}
.top_story_photo div.topstory_arrow3 {
	background-image: url("/img/VOA/img-tsc-arrow.gif?v=__7.5.0.0.9");
}
a.relart_header_hide {
	background-position: right -9042px;
}
a.relart_header_hide:hover {
	background-position: right -9140px;
}
a.relart_header_show {
	background-position: right -9140px;
}
.linkmore {
	background-position: right -9046px;
}
.link_more {
	background-position: right -9048px;
}
.talktous_icon:hover {
	background-position: left -13898px;
}
.multimedia_menu .talktous_icon {
	background-position: left -4900px;
}
.multimedia_menu .talktous_icon:hover {
	background-position: left -4900px;
}
div.schedule ul li.talktous_icon:hover {
	background-position: left -13898px;
}
.assignedIcon:hover span.asIcoSoundslide {
	background-position: left -4000px;
}
.multimedia_menu .assignedIcon:hover span.asIcoSoundslide {
	background-position: left -3500px;
}
.assignedIcon:hover span.asIcoVideo {
	background-position: left -4097px;
}
.multimedia_menu .assignedIcon:hover span.asIcoVideo {
	background-position: left -3597px;
}
.assignedIcon:hover span.asIcoPhotogallery {
	background-position: left -4197px;
}
.multimedia_menu .assignedIcon:hover span.asIcoPhotogallery {
	background-position: left -3699px;
}
.assignedIcon:hover span.asIcoMultimedia {
	background-position: left -4300px;
}
.multimedia_menu .assignedIcon:hover span.asIcoMultimedia {
	background-position: left -3800px;
}
.assignedIcon:hover span.asIcoAudio {
	background-position: left -4400px;
}
.multimedia_menu .assignedIcon:hover span.asIcoAudio {
	background-position: left -3900px;
}
.assignedIcon:hover span.asIcoInfographics {
	background-position: left -8093px;
}
.assignedIcon:hover span.asIcoLiveblog {
	background-position: left -8130px;
}
h3 .assignedIcon:hover span.asIcoVideo {
	background-position: left -4094px;
}
h3 .assignedIcon:hover span.asIcoPhotogallery {
	background-position: left -4195px;
}
.rssico:hover {
	background-position: left -7400px;
}
.subscribeico:hover {
	background-position: left -7495px;
}
.mobileico:hover {
	background-position: left -7300px;
}
.podcastico:hover {
	background-position: left -7200px;
}
.scheduleico:hover {
	background-position: left -7895px;
}
.ondemandico:hover {
	background-position: left -7995px;
}
.radioico:hover {
	background-position: left -7800px;
}
a.photogalleryico:hover {
	background-position: left -4199px;
}
.printico:hover {
	background-position: left -11600px;
}
li a.printico:hover {
	background-position: left -11600px;
}
.emailico:hover {
	background-position: left -11400px;
}
li a.emailico:hover {
	background-position: left -11400px;
}
.commentwidgetico:hover {
	background-position: left -11750px;
}
.commentico:hover {
	background-position: left -11750px;
}
li a.commentwidgetico:hover {
	background-position: left -11750px;
}
li a.commentico:hover {
	background-position: left -11750px;
}
.shareico:hover {
	background-position: left -11550px;
}
li a.shareico:hover {
	background-position: left -11550px;
}
.j_footer .shares ul li a.shareico:hover {
	background-position: right -11550px;
}
.listenico:hover {
	background-position: left -4400px;
}
.roloverlistenico:hover {
	background-position: left -4400px;
}
div.content_services a.listenico:hover {
	background-position: left -4400px;
}
div.content_services a.roloverlistenico:hover {
	background-position: left -4400px;
}
.republishico:hover {
	background-position: left -14100px;
}
li a.republishico:hover {
	background-position: left -14100px;
}
.downloadico:hover {
	background-position: left -11650px;
}
.downloadvideoico:hover {
	background-position: left -11650px;
}
.roloverdownloadico:hover {
	background-position: left -11650px;
}
.helpico:hover {
	background-position: left -12000px;
}
.schedulesmallico:hover {
	background-position: left -12250px;
}
.mailcontactico:hover {
	background-position: left -12100px;
}
.listico:hover {
	background-position: left -11700px;
}
.addico:hover {
	background-position: left -11800px;
}
.plusico:hover {
	background-position: left -11800px;
}
.archive_services_links .podcastico {
	background-position: left -12393px;
}
.playlistlink .podcastico:hover {
	background-position: left -13800px;
}
.archive_services_links .podcastico:hover {
	background-position: left -13793px;
}
.tvico:hover {
	background-position: left -13700px;
}
.googlereaderico:hover {
	background-position: left -11350px;
}
a.txtsizeplus:hover {
	background-position: left -11900px;
}
a.txtsizeminus:hover {
	background-position: left -11950px;
}
.rateplus1:hover {
	background-position: 6px -11800px;
}
.votedplus1:hover {
	background-position: 6px -11800px;
}
.rateminus1:hover {
	background-position: 6px -11850px;
}
.votedminus1:hover {
	background-position: 6px -11850px;
}
#errorInfo {
	background-position: left -7000px;
}
h2.breakingnews_top {
	padding-left: 0px;
}
h3.orange_bullet {
	padding-left: 0px;
}
h3.boxwidget_part {
	padding-left: 0px;
}
h3.titleInside {
	padding-left: 0px;
}
h3.boxwidget_title {
	padding-left: 0px;
}
.itunesico:hover {
	background-position: left -13850px;
}
div#superheader {
	
}
#header .content_centered {
	position: relative;
}
#top_bar {
	color: rgb(255, 255, 255); border-bottom-color: rgb(173, 178, 218); border-bottom-width: 1px; border-bottom-style: solid; background-image: none; background-color: transparent;
}
#top_bar strong.label {
	color: rgb(19, 47, 190);
}
#top_bar a {
	color: rgb(19, 47, 190);
}
#top_bar .top_stories a {
	color: rgb(0, 0, 0);
}
#top_bar a:hover {
	color: rgb(19, 47, 190);
}
#top_bar a:focus {
	color: rgb(19, 47, 190);
}
#top_bar ul.header_multisiteControl {
	width: auto; height: 30px;
}
#top_bar ul.header_multisiteControl li a img {
	margin-top: 5px; margin-bottom: 0px;
}
#top_bar_expanded {
	border-bottom-color: rgb(173, 178, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
#top_bar_expanded .sites {
	background: url("/img/VOA/top_expand_bg.gif?v=__7.5.0.0.9") repeat-y 0px 0px; margin: 12px 0px 17px; width: 100%;
}
#top_bar_expanded .info {
	display: none;
}
#top_bar_expanded .boxwidget ul {
	margin: 0px 12px; width: 308px; display: inline;
}
#top_bar_expanded .boxwidget ul li {
	margin: 0px; padding: 5px 0px 10px; width: 100%; line-height: 19px; float: left;
}
#top_bar_expanded ul li h5 {
	margin: 0px 0px 10px; color: rgb(19, 47, 190); font-size: 17px;
}
#top_bar_expanded ul li h5.siteinfochild {
	margin: 0px; font-size: 13px; font-weight: bold; border-bottom-color: transparent; border-bottom-width: 1px; border-bottom-style: solid;
}
#top_bar_expanded .boxwidget ul li h5 a {
	width: 100%; clear: both; cursor: pointer;
}
#top_bar_expanded .boxwidget ul li h5 a span {
	width: 148px; display: inline;
}
#top_bar_expanded .boxwidget ul li h5 a span.siteinfochild1 {
	color: rgb(68, 68, 68);
}
#top_bar_expanded .boxwidget ul li h5 a span.siteinfochild2 {
	color: rgb(136, 136, 136);
}
#top_bar_expanded .boxwidget ul li h5.siteinfochild a:hover span.siteinfochild1 {
	color: rgb(19, 47, 190); text-decoration: underline;
}
#top_bar_expanded .boxwidget ul li h5.siteinfochild a:hover span.siteinfochild2 {
	color: rgb(19, 47, 190); text-decoration: underline;
}
#header {
	background-position: left top; background-image: url("/img/VOA/bg_header.png?v=__7.5.0.0.9"); background-repeat: repeat-x; background-color: transparent;
}
#header .content_centered {
	background-image: none; background-color: transparent;
}
#header .content_centered h2#header_logo {
	width: 640px; height: 77px;
}
#header .content_centered h2#header_logo a {
	width: 100%; height: 60px; margin-top: 15px; display: block;
}
#header #header_services {
	height: 70px;
}
.search_bar .search_cower {
	border: 1px solid rgb(214, 214, 214); border-image: none;
}
div.search_cower input.top_search {
	background: url("/img/VOA/top_search_sh.gif?v=__7.5.0.0.9") repeat-x 0px 0px rgb(255, 255, 255); margin: 0px; padding: 2px 3px; border: 0px currentColor; border-image: none; width: 270px; height: 24px; color: rgb(102, 102, 102); line-height: 24px;
}
#search_loupe_btn {
	background: url("/img/VOA/ico_loupe.gif?v=__7.5.0.0.9") no-repeat 0px 0px rgb(255, 255, 255); margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 30px; height: 28px; cursor: pointer;
}
#search_loupe_btn_footer {
	background: url("/img/VOA/ico_loupe.gif?v=__7.5.0.0.9") no-repeat 0px 0px rgb(255, 255, 255); margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 30px; height: 28px; cursor: pointer;
}
#header #header_services .login_bar ul li a {
	color: rgb(19, 47, 190); background-color: rgb(255, 255, 255);
}
#header #header_services .login_bar ul li.header_searchform_submit {
	color: rgb(19, 47, 190); background-color: rgb(255, 255, 255);
}
#header #header_services .login_bar ul li a:hover {
	color: rgb(19, 47, 190); background-color: rgb(255, 255, 255);
}
#header #header_services .login_bar ul li.virtualKeyboardContainer {
	width: 18px; margin-top: 4px; background-color: transparent;
}
#header #header_services .login_bar ul li.virtualKeyboardContainer input.virtualKeyboard {
	margin: 0px; background-image: url("/img/VOA/icon_keyboard_button.gif?v=__7.5.0.0.9");
}
#header #header_services .login_bar ul li#liMembershipUserName span {
	color: rgb(113, 129, 216); font-size: 13px;
}
#header #header_services .login_bar ul li#liMembershipUserName span:hover {
	color: rgb(113, 129, 216); font-size: 13px;
}
#header #header_services .login_bar ul li#liMembershipUserName span:focus {
	color: rgb(113, 129, 216); font-size: 13px;
}
.multimedia_menu {
	
}
.multimedia_menu .wrapper {
	
}
#content_top_bar div.multimedia_control span {
	border-color: rgb(203, 19, 26); background-color: rgb(203, 19, 26);
}
#content_top_bar div.opened span {
	border-color: rgb(66, 66, 66); background-color: rgb(66, 66, 66);
}
.multimedia_menu h5 {
	color: rgb(187, 187, 187);
}
.multimedia_menu h5 a {
	color: rgb(187, 187, 187);
}
.multimedia_menu .programlist_row .upcomming_time {
	color: rgb(187, 187, 187);
}
.multimedia_menu h5 ul li a {
	color: rgb(255, 255, 255);
}
#footer #footerServices {
	color: rgb(255, 255, 255); background-color: rgb(44, 69, 195);
}
#footer #footerServices .content_centered {
	
}
#footer #footerLinks {
	background-color: transparent;
}
#footer #footerLinks .content_centered {
	background: rgb(238, 238, 239);
}
#footerLinks ul li a {
	color: rgb(19, 47, 190);
}
